<div id=''class='col-md-12 col-xs-12'style='border:1px none;padding:0.5%;height95vh;font-size:16px;background-color:'>

  <div id=''class='col-md-12 col-xs-12'style='border:1px none;height:100%;position:relative;padding:4%;'>
   
  <!-- Status Screen Left -->
   <div id='aboutStatusLeft'class='col-md-5 col-xs-12'style='border:1px none;padding:0.5%;height:100%;'>
   	<div id=''class='col-md-12'style='border:1px none;padding:1%;margin-bottom:4px;'>
   		
   		<!-- Personal Info -->
   		<span class='col-md-12 col-xs-12'style='border-bottom:3px solid black;padding:0;'><p style="float:right;margin:0;font-family: 'Orbitron', sans-serif">Status</p></span>
   		<div id=''class='col-md-9 col-md-offset-3 col-xs-12'style="border:1px none;padding:0;font-family: 'Exo 2', sans-serif;">
   			<span class='col-md-7'id='aboutPersonName'style='float:left;'>Oscar Medrano</span> <span id='aboutPersonAge'style='float:right;text-align:right;'class='col-md-4'>27 Years Old</span>
   			<br><br><br>
   			<span id='aboutPersonLocation'style='margin-bottom:10px;'class='col-md-4 col-xs-12'>New York</span>
   			<div id='aboutPersonSocial'class='col-md-12'style='border:1px none;padding:0;'>
   				<div id='github'style='text-decoration:none;'class='col-md-12'><a href='https://github.com/OhMedrano' style='text-decoration:none;color:inherit;'><span><img style='width:5%;'src='../images/GitHub-Mark/PNG/GitHub-Mark-32px.png'/></span>Github<span style='float:right;'>OhMedrano</span></a>

   				</div>
               <div id=''class='col-md-12'style='padding:0%;'></div>
   				<div id='linkedin'style=''class='col-md-12'><a href='https://www.linkedin.com/in/oscarmedrano' style='text-decoration:none;color:inherit;'><span><img src='../images/In-Black-14px.png'/></span>LinkedIn<span style='float:right;'>Oscar Medrano</span></a>


  		 		</div>
  			</div>
  		</div>
   

   	 </div>
   	 <!-- Equipment -->
   	<div id=''class='col-xs-12'style='padding:3%;'>

   	</div>
   	 <!-- Guitars -->
   	 <div id=''class='col-md-12 col-xs-12'style='border:1px none;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12 col-xs-12'style='border-bottom:4px solid black;padding:0;'><p style="float:right;margin:0;float:right;margin:0;font-family: 'Orbitron', sans-serif;font-size:13px">Applications and Enviroments</p></span>
   		<div id=''class='col-md-9 col-md-offset-3 col-xs-12'style="border:1px none;padding:0;font-family: 'Exo 2', sans-serif;">
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>Adobe CS6</span>
   				<div id=''class='col-md-12 col-xs-12'style=''>
   					<span style='float:left;'>Photoshop</span>
   				</div>
   				<div id=''class='col-md-12 col-xs-12'style=''>
   					<span style='float:left;'>Illustrator</span>
   				</div>
   			
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>Microsoft Office 2007</span>
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>Git (source control)</span>
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>Bash/General Unix command line</span>
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>Windows and Ubuntu Distros</span>
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style=''>
   				<span style='float:left;'>VmWare / VirtualBox</span>
   			</div>

   			
   			
  		</div>
   

   	 </div>
   	 <!-- Skills -->
   	 <div id=''class='col-md-12 col-xs-12'style='border:1px none;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12 col-xs-12'style='border-bottom:4px solid black;padding:0;'><p style="float:right;margin:0;float:right;margin:0;font-family: 'Orbitron', sans-serif">Languages</p></span>
   		<div id=''class='col-md-9 col-md-offset-3 col-xs-12'style="border:1px none;padding:0;padding-top:1%;border:1px none;padding:0;font-family: 'Exo 2', sans-serif;"><span style=';'></span>
   			<div id=''class='col-md-12 col-xs-12'style='padding:0%;'>
   				<div id=''class='col-md-12 skillDiv col-xs-12' style=''>
   					<span style='float:left;'>Javascript</span><span style='float:right;'></span>
   					<div id=''class='col-md-12 col-xs-12'style='margin-top:0.5%;'>
   						<span style='float:left;'class='col-md-8 col-xs-7 col-xs-8'>AngularJS</span><span style='float:right;'class='col-md-3 col-xs-6'>2 years</span>

   					</div>
   					<div id=''class='col-md-12 col-xs-12'style='margin-top:0.5%;'>
   						<span style='float:left;'class='col-md-8 col-xs-7'>NodeJS/Express</span><span style='float:right;'class='col-md-3 col-xs-6'>1 year</span>

   					</div>
   					
   				</div>
   				<div id=''class='col-md-12 col-xs-12 skillDiv' style='padding:0;margin-top:0.5%;'>
   					<span style='float:left;'class='col-md-8 col-xs-8'>Html/CSS</span><span style='float:right;'class='col-md-3 col-xs-5'>4 years</span>
   				</div>
   			
   				<div id=''class='col-md-12 col-xs-12 skillDiv' style='padding:0;margin-top:0.5%;'>
   					<span style='float:left;'class='col-md-8 col-xs-8'>Ruby/RoR</span><span style='float:right;'class='col-md-3 col-xs-5'>1 year</span>
   				</div>
   			</div>
   			
   			
   			
  		</div>
   

   	 </div>
  	</div>  

  	<div id='aboutStatusRight'class='col-md-5'style='border:1px none;padding:0.5%;height:100%;float:right'>
   	<div id=''class='col-md-12 col-xs-12'style='border:1px none;padding:1%;margin-bottom:4px;'>
   		
   		<!-- Work Info -->
   		<span class='col-md-12 col-xs-12'style='border-bottom:4px solid black;padding:0;'><p style="float:right;margin:0;float:left;margin:0;font-family: 'Orbitron', sans-serif">Roles</p></span>
   		<div id=''class='col-md-9 col-xs-12 'style="border:1px none;padding:0;border:1px none;padding:0;font-family: 'Exo 2', sans-serif;">
   			<div id=''class='col-md-12 col-xs-12 workDiv'style=''>
   				<span style='float:left'>Konditori</span><span style='float:right;'>Nov '13 - Present</span>
   				<div id=''class='col-md-12 col-xs-12 col-xs-12'style=''>
   					<span style='float:left;' class='col-md-12 col-xs-12'>Barista (Keyholder) </span>
   					<ul style='list-style:none;'>
   					<li id=''class='col-md-12 col-xs-12'style='margin-top:2%;'>
   					 - Opening / Closing the store
   					</li>
   					<li id=''class='col-md-12 col-xs-12'style='margin-top:2%;'>
   					 - Direct customer service
   					</li>
   					<li id=''class='col-md-12 col-xs-12'style='margin-top:2%;'>
   					 - Constant upkeep of computer point of sale systems...
   					</li>
   					<li id=''class='col-md-12 col-xs-12'style='margin-top:2%;'>
   					 
   					</li>
   					</ul>
   					<div id=''class='col-md-10'style='padding:2%;'>
   					
   					</div>
   				</div>
   			</div>
   			<div id=''class='col-md-12 col-xs-12 workDiv'style=''>
   				<span style='float:left'>CitiGroup</span><span style='float:right;'>May '14 - Jul '14</span>
   				<div id=''class='col-md-12 col-xs-12'style=''>
   					<span style='float:left;' class='col-md-12 col-xs-12'>Tradefloor System Admin (Intern) </span>
   					<ul style='list-style:none;'>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- Troubleshooting workstations on CitiGroup's main tradefloors. 
   					</li>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- Building and deploying workstations with registered subnet domains and credentials
   					</li>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- Deploying and installing A/V equipment (TV over IP)
   					</li>
   					</ul>
   					<div id=''class='col-md-10 col-xs-12'style='padding:2%;'>
   					
   					</div>
   				</div>
   			</div>
   			<div id=''class='col-md-12  col-xs-12workDiv'style=''>
   				<span style='float:left'>Freelance</span><span style='float:right;'>Sept. '14 - Present</span>
   				<div id=''class='col-md-12 col-xs-12'style=''>
   						<span style='float:left;' class='col-md-12'>PC Technician </span>
   					<ul style='list-style:none;'>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- Building customized desktops for specific purposes
   					</li>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- Troubleshooting general PC issues
   					</li>
   					<li id=''class='col-md-11 col-xs-12'style='margin-top:2%'>
   					- General networking installation and configuration 
   					</li>
   					</ul>
   					<div id=''class='col-md-10 col-xs-12'style='padding:2%;'>
   					
   					</div>
   				</div>
   			</div>
  		</div>
   

   	 </div>
   	 <!-- Education -->
   	 <div id=''class='col-md-12 col-xs-12'style='border:1px none;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12 col-xs-12'style='border-bottom:4px solid black;padding:0;'><p style="margin:0;float:left;margin:0;font-family: 'Orbitron', sans-serif">Education</p></span>
   		<div id=''class='col-md-9 col-xs-12'style="padding:0;border:1px none;padding:0;font-family: 'Exo 2', sans-serif;">
   			<div id=''class='col-md-12 col-xs-12'style='margin-bottom:2%;'>
   			<span style='float:left;'>New York Coding and Design</span><span style='float:right'>Oct. '13 - Feb. '14</span>
   				<div id=''class='col-md-12 col-xs-12'style=''>

   				</div>
   			</div>
   			<div id=''class='col-md-12 col-xs-12'style='margin-bottom:2%;'>
   			<span style='float:left;'>N'Power Technology Corps</span><span style='float:right'>Jan. '14 - May '14</span>
   				<div id=''class='col-md-12 col-xs-12'style=''>
   					CompTIA A+ Certification program
   				</div>
   			</div>
  		</div>
   

   	 </div>
   	
   

   	 </div>
  	</div>  
	</div>
</div>