<div id=''class='col-md-12 col-xs-12'style='border:1px solid black;padding:0.5%;height:95vh'>

  <div id=''class='col-md-12'style='border:1px solid 
  black;height:100%;position:relative;padding:10px;'>
   
  <!-- Status Screen Left -->
   <div id='aboutStatusLeft'class='col-md-5'style='border:1px solid black;padding:0.5%;height:100%;'>
   	<div id=''class='col-md-12'style='border:1px solid black;padding:1%;margin-bottom:4px;'>
   		
   		<!-- Personal Info -->
   		<span class='col-md-12'style='border-bottom:1px solid black;padding:0;'><p style='float:right;margin:0;'>Status</p></span>
   		<div id=''class='col-md-9 col-md-offset-3'style='border:1px solid black;padding:0;'>
   			<span class='col-md-7'id='aboutPersonName'style='float:left;'>Oscar Medrano</span> <span id='aboutPersonAge'style='float:right;text-align:right;'class='col-md-4'>27 Years Old</span>
   			<br><br><br>
   			<span id='aboutPersonLocation'style='margin-bottom:10px;'class='col-md-7'>New York</span>
   			<div id='aboutPersonSocial'class='col-md-12'style='border:1px none;padding:0;'>
   				<div id='github'style=''class='col-md-12'><span>HERE</span>Github<span style='float:right;'>User Name</span>

   				</div>
   				<div id='linkedin'style=''class='col-md-12'><span>HERE</span>LinkedIn<span style='float:right;'>User Name</span>


  		 		</div>
  			</div>
  		</div>
   

   	 </div>
   	 <!-- Equipment -->
   	
   	 <!-- Guitars -->
   	 <div id=''class='col-md-12'style='border:1px solid black;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12'style='border-bottom:1px solid black;padding:0;'><p style='float:right;margin:0;'>Guitars</p></span>
   		<div id=''class='col-md-9 col-md-offset-3'style='border:1px solid black;padding:0;'>
   			<div id=''class='col-md-12'style=''>
   				'86 Ibanez Roadstar
   			</div>
   			<div id=''class='col-md-12'style=''>
   				Ibanez GAX70
   			</div>
   			<div id=''class='col-md-12'style=''>
   				Fender Stratocaster
   			</div>
   			<div id=''class='col-md-12'style=''>
   				Mitchell Dreadnought Acoustic
   			</div>
   			<div id=''class='col-md-12'style=''>
   				Rouge Steel String Acoustic
   			</div>


   			
   			
  		</div>
   

   	 </div>
   	 <!-- Skills -->
   	 <div id=''class='col-md-12'style='border:1px solid black;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12'style='border-bottom:1px solid black;padding:0;'><p style='float:right;margin:0;'>Skills</p></span>
   		<div id=''class='col-md-9 col-md-offset-3'style='border:1px solid black;padding:0;'>
   			<div id=''class='col-md-12 skillDiv' style=''>
   				<span style='float:left;'>SkillName</span><span style='float:right;'>Skill Level</span>
   			</div>
   			<div id=''class='col-md-12 skillDiv' style=''>
   				<span style='float:left;'>SkillName</span><span style='float:right;'>Skill Level</span>
   			</div>
   			
   			<div id=''class='col-md-12 skillDiv' style=''>
   				<span style='float:left;'>SkillName</span><span style='float:right;'>Skill Level</span>
   			</div>
   			
   			<div id=''class='col-md-12 skillDiv' style=''>
   				<span style='float:left;'>SkillName</span><span style='float:right;'>Skill Level</span>
   			</div>
   			
   			<div id=''class='col-md-12 skillDiv' style=''>
   				<span style='float:left;'>SkillName</span><span style='float:right;'>Skill Level</span>
   			</div>
   			
   			
   			
  		</div>
   

   	 </div>
  	</div>  

  	<div id='aboutStatusRight'class='col-md-5'style='border:1px solid black;padding:0.5%;height:100%;float:right'>
   	<div id=''class='col-md-12'style='border:1px solid black;padding:1%;margin-bottom:4px;'>
   		
   		<!-- Work Info -->
   		<span class='col-md-12'style='border-bottom:1px solid black;padding:0;'><p style='float:left;margin:0;'>Roles</p></span>
   		<div id=''class='col-md-9 'style='border:1px solid black;padding:0;'>
   			<div id=''class='col-md-12 workDiv'style=''>
   				<span style='float:left'>Work Location</span><span style='float:right;'>Time Worked</span>
   				<div id=''class='col-md-12'style=''>
   					Responsiblities
   				</div>
   			</div>
   			<div id=''class='col-md-12 workDiv'style=''>
   				<span style='float:left'>Work Location</span><span style='float:right;'>Time Worked</span>
   				<div id=''class='col-md-12'style=''>
   					Responsiblities
   				</div>
   			</div>
   			<div id=''class='col-md-12 workDiv'style=''>
   				<span style='float:left'>Work Location</span><span style='float:right;'>Time Worked</span>
   				<div id=''class='col-md-12'style=''>
   					Responsiblities
   				</div>
   			</div>
  		</div>
   

   	 </div>
   	 <!-- Education -->
   	 <div id=''class='col-md-12'style='border:1px solid black;padding:1%;margin-bottom:4px;'>
   		<span class='col-md-12'style='border-bottom:1px solid black;padding:0;'><p style='float:left;margin:0;'>Education</p></span>
   		<div id=''class='col-md-9'style='border:1px solid black;padding:0;'>
   			<div id=''class='col-md-12'style=''>
   			<span style='float:left;'>Location</span><span style='float:right'>When</span>
   			</div>
  		</div>
   

   	 </div>
   	
   

   	 </div>
  	</div>  
	</div>
</div>