<div id=''class='col-md-12 col-xs-12'style="border:1px none;padding:1%;height:95vh;overflow:auto;font-family: 'Exo2', sans-serif" ng-controller='mainCtrl as app'>

 <!--  <div id=''class='col-md-12 col-xs-12'style='border:1px none;height:96%;position:relative;top:2%;padding:20px;margin-bottom:3%;'>
      <div id=''class='col-md-12'style='border:1px none;margin:1%;'>
      <div id=''class='col-xs-12 hidden-md hidden-lg'style="border:4px none;font-family: 'Orbitron', sans-serif">
        <h3 style='border-bottom:1px solid black;'class='col-md-12'>Title</h3>
        <h4 class='col-md-6'>Date</h4>
        <h5 class='col-md-7'>By</h5>
        </div>
        <div id=''class='col-md-8 col-xs-12'style='border-right:4px solid black;padding:10px;;'>
        <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet massa velit. Suspendisse aliquet facilisis velit, nec semper purus egestas imperdiet. Duis malesuada ante dolor, quis finibus libero condimentum eleifend. Ut placerat tincidunt ultrices. Donec a accumsan dui, eu rutrum tortor. Nulla vehicula lacus viverra nisi commodo sagittis. Donec eleifend, dui vel interdum dapibus, nibh velit consequat leo, et placerat justo quam eget mi.
<p>
Vestibulum efficitur pulvinar quam, ac ornare dolor consequat eget. Praesent et congue velit. Donec at rhoncus lectus. Vestibulum tempus orci vel tincidunt egestas. In lacus felis, varius eu augue id, eleifend aliquam dui. Quisque eleifend quam libero, a rhoncus tortor sollicitudin rhoncus. Quisque mattis venenatis maximus. Suspendisse potenti. Maecenas eget elementum mi. Donec vestibulum semper pellentesque. Nullam finibus aliquet aliquam. In ac eros imperdiet lacus vehicula rhoncus nec eget nisl. Nullam luctus erat condimentum tortor maximus scelerisque. Fusce at quam id tortor pretium sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi id interdum magna, in dignissim ligula. 
        </div>
        <div id=''class='col-md-3 col-md-offset-1 hidden-xs hidden-sm'style="border:4px none;font-family: 'Orbitron', sans-serif">
        <h3 style='border-bottom:1px solid black;'class='col-md-12'>Title</h3>
        <h4 class='col-md-6'>Date</h4>
        <h5 class='col-md-7'>By</h5>
        </div>
      </div>
        
      <div id=''class='col-md-12'style='border:1px none;margin:1%;'>
        
        <div id=''class='col-md-3'style="border:4px none;font-family: 'Orbitron', sans-serif">
         <h3 style='border-bottom:1px solid black;'class='col-md-12'>Title</h3>
        <h4 class='col-md-6'>Date</h4>
        <h5 class='col-md-7'>By</h5>
        </div>
        <div id=''class='col-md-8 col-md-offset-1'style='border-left:4px solid black;padding:10px'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet massa velit. Suspendisse aliquet facilisis velit, nec semper purus egestas imperdiet. Duis malesuada ante dolor, quis finibus libero condimentum eleifend. Ut placerat tincidunt ultrices. Donec a accumsan dui, eu rutrum tortor. Nulla vehicula lacus viverra nisi commodo sagittis. Donec eleifend, dui vel interdum dapibus, nibh velit consequat leo, et placerat justo quam eget mi.
<p>
Vestibulum efficitur pulvinar quam, ac ornare dolor consequat eget. Praesent et congue velit. Donec at rhoncus lectus. Vestibulum tempus orci vel tincidunt egestas. In lacus felis, varius eu augue id, eleifend aliquam dui. Quisque eleifend quam libero, a rhoncus tortor sollicitudin rhoncus. Quisque mattis venenatis maximus. Suspendisse potenti. Maecenas eget elementum mi. Donec vestibulum semper pellentesque. Nullam finibus aliquet aliquam. In ac eros imperdiet lacus vehicula rhoncus nec eget nisl. Nullam luctus erat condimentum tortor maximus scelerisque. Fusce at quam id tortor pretium sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi id interdum magna, in dignissim ligula. 

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet massa velit. Suspendisse aliquet facilisis velit, nec semper purus egestas imperdiet. Duis malesuada ante dolor, quis finibus libero condimentum eleifend. Ut placerat tincidunt ultrices. Donec a accumsan dui, eu rutrum tortor. Nulla vehicula lacus viverra nisi commodo sagittis. Donec eleifend, dui vel interdum dapibus, nibh velit consequat leo, et placerat justo quam eget mi.
<p>
Vestibulum efficitur pulvinar quam, ac ornare dolor consequat eget. Praesent et congue velit. Donec at rhoncus lectus. Vestibulum tempus orci vel tincidunt egestas. In lacus felis, varius eu augue id, eleifend aliquam dui. Quisque eleifend quam libero, a rhoncus tortor sollicitudin rhoncus. Quisque mattis venenatis maximus. Suspendisse potenti. Maecenas eget elementum mi. Donec vestibulum semper pellentesque. Nullam finibus aliquet aliquam. In ac eros imperdiet lacus vehicula rhoncus nec eget nisl. Nullam luctus erat condimentum tortor maximus scelerisque. Fusce at quam id tortor pretium sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi id interdum magna, in dignissim ligula. 
        </div>
      </div>
      <div id=''class='col-md-12'style='border:1px none;margin:1%;'>
      <div id=''class='col-xs-12 hidden-md hidden-lg'style="border:4px none;font-family: 'Orbitron', sans-serif">
        <h3 style='border-bottom:1px solid black;'class='col-md-12'>Title</h3>
        <h4 class='col-md-6'>Date</h4>
        <h5 class='col-md-7'>By</h5>
        </div>
         <div id=''class='col-md-8'style='border-right:4px solid black;padding:10px'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet massa velit. Suspendisse aliquet facilisis velit, nec semper purus egestas imperdiet. Duis malesuada ante dolor, quis finibus libero condimentum eleifend. Ut placerat tincidunt ultrices. Donec a accumsan dui, eu rutrum tortor. Nulla vehicula lacus viverra nisi commodo sagittis. Donec eleifend, dui vel interdum dapibus, nibh velit consequat leo, et placerat justo quam eget mi.
<p>
Vestibulum efficitur pulvinar quam, ac ornare dolor consequat eget. Praesent et congue velit. Donec at rhoncus lectus. Vestibulum tempus orci vel tincidunt egestas. In lacus felis, varius eu augue id, eleifend aliquam dui. Quisque eleifend quam libero, a rhoncus tortor sollicitudin rhoncus. Quisque mattis venenatis maximus. Suspendisse potenti. Maecenas eget elementum mi. Donec vestibulum semper pellentesque. Nullam finibus aliquet aliquam. In ac eros imperdiet lacus vehicula rhoncus nec eget nisl. Nullam luctus erat condimentum tortor maximus scelerisque. Fusce at quam id tortor pretium sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi id interdum magna, in dignissim ligula. 
        </div>
        <div id=''class='col-md-3 col-md-offset-1 hidden-sm hidden-xs'style="border:1px none;font-family: 'Orbitron', sans-serif">
       <h3 style='border-bottom:1px solid black;'class='col-md-12'>Title</h3>
        <h4 class='col-md-6'>Date</h4>
        <h5 class='col-md-7'>By</h5>
        </div>
      </div>


      </div>

      


   
  </div>   -->


<!--   <ul id=''class=''style=''>
    <li ng-repeat='update in Updates'>
      <input type='checkbox' ng-model=''>
        <a href='#/{{$index}}'>{{update}}</a>
        </li>
        </ul>

 -->


  <input type='text'ng-model='app.thing'/>
  <button ng-click='app.submit(app.thing)'>Submit</button>

</div>