<div id=''class='col-md-12 col-xs-12'style='border:1px solid black;padding:1%;height:95vh'>

  <div id=''class='col-md-12'style='border:1px solid 
  black;height:96%;position:relative;top:2%;padding:10px;'>
    <div id=''class='col-md-12'style='border:1px solid black;
      padding:1%;height:32%'>
       <div id=''class='col-md-4 col-md-offset-1'style='border:1px solid black;'>
        <img src='http://baconmockup.com/450/200'/>
      </div>
      <div id=''class='col-md-4 col-md-offset-2'style='border:1px solid black;'>
       Text here
      </div>
    </div>
    <div id=''class='col-md-12'style='border:1px solid black;
      padding:1%;height:32%'>
      <div id=''class='col-md-4 col-md-offset-1'style='border:1px solid black;'>
        <img src='http://baconmockup.com/450/200'/>
      </div>
      <div id=''class='col-md-4 col-md-offset-2'style='border:1px solid black;'>
        <img src='http://baconmockup.com/450/200'/>
      </div>
    </div>
    <div id=''class='col-md-12'style='border:1px solid black;
      padding:1%;height:32%'>
      <div id=''class='col-md-4 col-md-offset-1'style='border:1px solid black;'>
      Text here
      </div>
      <div id=''class='col-md-4 col-md-offset-2'style=''>
        <img src='http://baconmockup.com/450/200'/>
      </div>

    </div>
  </div>  

</div>